body {
    margin: 5px;
    background-color: #404A65;
}

header {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;

}

h1 {
    font-family: "Kanit", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 50px;
    text-shadow: 3px 0 black, -3px 0 black, 0 3px black, 0 -3px black,
        1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black;
}

h2 {
    font-family: "Kanit", sans-serif;
    font-weight: 500;
    font-style: normal;
    margin-bottom: 100px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p {
    color: white;
    margin: 40px;
    font-size: 40px;
    font-family: "Kanit", sans-serif;
}

button {
    color: white;
    background-color: #1F6FB0;
    border: 4px solid #1F6FB0;
    padding: 15px;
    padding-left: 120px;
    padding-right: 120px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
    transform: scale(1);
    transition: transform 0.3s ease-in-out;
    font-size: 20px;
    font-weight: 600;
}

button:hover{
    background-color: #1b5f96;
    border: 4px solid #1b5f96;
    transform: scale(1.1);
}