.container {
  width: 184vh;
  min-height: 86vh;
  background-size: cover;
  background-position: center;
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  backdrop-filter: blur(2px);
}



